/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00dcff;
    color: white;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #ff0000;
    color: white;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: rgb(185, 62, 62);
    text-decoration: none;
}

#contenido {
    padding: 20px;
}

footer {
    background-color: rgb(163, 76, 175);
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
